.character-detail__picture {
    margin-right: 50px;
    margin-bottom: 30px;
}
.character-detail__picture img {
  border: 6px solid rgb(96, 0, 0);
  border-radius: 100px;
  overflow: hidden;
  max-width: 200px;
}
