header {
  min-height: 130px;
  background-color: #000;
  color: #fff;
  margin-bottom: 80px;
  /* border-radius: 10px; */
  position: relative;
}
.heroes {
  font-family: "Bangers", cursive;
  font-size: 25px;
  color: #fff;
  position: absolute;
  top: 60px;
  left: 180px;
  transform: rotate(-10deg);
}
.logo-site-blindado {
  position: absolute;
  top: 20px;
  left: 20px;
}
.logo-site-blindado img {
  width: 200px;
  /* background-color: #fff; */
  /* padding: 20px; */
}
.logo-marvel {
  position: absolute;
  right: 20px;
  bottom: -40px;
}
.logo-marvel img {
  width: 180px;
}
